*{
    background-color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
   font-family: Arial, sans-serif; 
   font-size: 100%;
   display: block;
   
   
}
nav {
    background-color: #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    border-radius: 5px;
    gap: 20px;
    
}
nav a{
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #000000;
    border: 1px solid white;
    border-radius: 3px;
    transition: all 0.3s ease;
    
}
nav a:hover{
    background-color: #4d4d49;
}